<nav class="nav flex-row nav-tabs">
  <a
    routerLink=""
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    class="nav-link"
  >
    Inicio
  </a>   
  <a routerLink="novedades" routerLinkActive="active" class="nav-link"
    >Novedades</a
  >
  <a routerLink="busqueda" routerLinkActive="active" class="nav-link">
    Busqueda
  </a>
  <a routerLink="contacto" routerLinkActive="active" class="nav-link"
    >Contáctenos</a
  >
  <a routerLink="empresa" routerLinkActive="active" class="nav-link"
    >Nosotros</a
  >
</nav>
