<footer class="container-fluid row p-4">
    <div class="col">
        <img src="/../assets/icon_Logo_dark.png" alt="logo geomundo" class="logo">
    </div>
    <div class="container-fluid col">
        <h4>Redes Sociales</h4>
        <a href="https://www.facebook.com/libreriageomundo" target="_blank">
            <img src="/../assets/icon_facebook.png" alt="facebook" class="redes">
        </a>      
        <a href="https://www.instagram.com/geomundolibreria/" target="_blank" >
            <img src="/../assets/icon_instagram.png" alt="instagram" class="redes">
        </a>  
    </div>
    <div class="col navegacion">
        <h4>Mapa del Sitio</h4>
        <nav class="nav flex-column">
            <a routerLink="">Inicio</a>
            <a routerLink="compras">Compras</a>
            <a routerLink="novedades">Novedades</a>
            <a routerLink="contacto">Contactenos</a>
            <a routerLink="empresa">Acerca de</a>
        </nav>
    </div>
    <div class="col">
        <h4>Celular</h4>
        <p>(+593) 99 547 1098</p>
        <h4>Correo Electrónico</h4>
        <p>geomundolibreria@gmail.com</p>
    </div>
    <div class="col">
        <h4>Dirección</h4>
        <p>10 de Agosto, y Carabobo. <br> Riobamba, Ecuador</p>
    </div>    
</footer>