<h2>QUIENES SOMOS</h2>
<div class="d-flex container-fluid flex-wrap p-2 flex-row mb-3 mt-3 justify-content-evenly align-items-center">
  <div class="col-12 col-md-4">
    <img
      src="/../assets/empresa1.jpg"
      alt="estantes con libros"
      class="img-fluid"
    />
  </div>
  <div class="col-12 col-md-6">
    <p>
      “Librería Geomundo”, es una librería riobambeña dedicada a la venta de una gran variedad de
      libros, su objetivo es impulsar el gusto por la lectura a su clientela e incentivar la cultura de la lectura en la ciudad,
      gracias a la disponibilidad de un amplio catálogo de libros además de brindar un buen servicio que permita guiar y recomendar los mejores títulos.   
    </p>
  </div>  
</div>
<div class="d-flex container-fluid flex-wrap flex-row mb-3 mt-3 p-2 justify-content-evenly align-items-center">
  <div class="col-12 col-md-6">
    <p>
      Entre los distintos géneros que contamos destacan la narrativa y ficción histórica, novelas románticas (paranormal, 
      juveniles, históricas, contemporáneas), novelas para jóvenes adultos, novela negra, suspenso, thriller policíaco, 
      mangas, libros ilustrados, libros de pintura para adultos y libros infantiles.
    </p>
  </div>  
  <div class="col-12 col-md-4">
    <img
      src="/../assets/empresa2.jpg"
      alt="estantes con libros"
      class="img-fluid"
    />
  </div>  
</div>
