<h2>ACERCA DE LA EMPRESA</h2>
<div class="d-flex container-fluid flex-wrap p-2 flex-row mb-3 mt-3 justify-content-evenly align-items-center">
  <div class="col-12 col-md-4">
    <img
      src="/../assets/empresa1.jpg"
      alt="estantes con libros"
      class="img-fluid"
    />
  </div>
  <div class="col-12 col-md-6">
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto commodi
      dolorum sequi repellendus repellat ut exercitationem, minus adipisci ex
      aspernatur. Perspiciatis, nemo recusandae voluptas vero possimus debitis vel
      asperiores, dolorum, quas voluptatibus at nobis est magni officia. Corrupti
      praesentium, quo eos ea sequi maiores tempora autem ab facilis tempore
      velit!. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus
      distinctio nostrum esse ab illum recusandae saepe suscipit quasi veniam,
      dolor inventore velit quaerat soluta hic in odio asperiores, commodi minima!
      Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit, amet
      consectetur adipisicing elit. Eos adipisci dicta facilis fuga, mollitia
      minima praesentium rerum error harum nostrum, nihil voluptate sed explicabo
      debitis ducimus corrupti tempore minus. Beatae.
    </p>
  </div>  
</div>
<div class="d-flex container-fluid flex-wrap flex-row mb-3 mt-3 p-2 justify-content-evenly align-items-center">
  <div class="col-12 col-md-6">
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto commodi
      dolorum sequi repellendus repellat ut exercitationem, minus adipisci ex
      aspernatur. Perspiciatis, nemo recusandae voluptas vero possimus debitis vel
      asperiores, dolorum, quas voluptatibus at nobis est magni officia. Corrupti
      praesentium, quo eos ea sequi maiores tempora autem ab facilis tempore
      velit!. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus
      distinctio nostrum esse ab illum recusandae saepe suscipit quasi veniam,
      dolor inventore velit quaerat soluta hic in odio asperiores, commodi minima!
      Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit, amet
      consectetur adipisicing elit. Eos adipisci dicta facilis fuga, mollitia
      minima praesentium rerum error harum nostrum, nihil voluptate sed explicabo
      debitis ducimus corrupti tempore minus. Beatae.
    </p>
  </div>  
  <div class="col-12 col-md-4">
    <img
      src="/../assets/empresa2.jpg"
      alt="estantes con libros"
      class="img-fluid"
    />
  </div>  
</div>
