*{
    --primario: #0065bd;
    --secundario: rgba(239, 239, 239, 0.788);
    --on-hover: #0065bd70
}

div.card{
    background-color: var(--secundario);
    border-color: var(--secundario);
    align-items: center;
    justify-content: center;
    padding: 0.5%;
    max-width: 18rem;
}

div.card:hover{
    background-color: var(--on-hover);
    border-color: var(--on-hover);
    color: white;
    align-items: center;
    justify-content: center;
    padding: 0.5%;
    max-width: 18rem;
}

div.card img{
    width: 50%;
    padding-top: 2%;
    padding-bottom: 2%;
}

div.estado{
    top: 2%;
    left: 2%;
    background-color: var(--secundario);
    color:var(--primario);
    border-left: 1px solid var(--on-hover);
    border-top: 1px solid var(--on-hover);
    border-bottom: 1px solid var(--on-hover);
    padding: 0.7%;
}

.col{
    padding: 0%;
}

div.card-body{
    border-top: solid 1px var(--secundario);
    text-align: center;
}

p{
    margin: 0%;
    text-justify: center;
}
