*{
    --primario: #0065BD;
    --secundario: rgba(239, 239, 239, 0.788);
}

div.card{
    background-color: var(--secundario);
    border-color: var(--secundario);
    align-items: center;
    justify-content: center;
    padding: 0.5%;
    max-width: 18rem;
}

div.card img{
    width: 50%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.col{
    padding: 0%;
}

div.card-body{
    border-top: solid 1px lightgray;
    text-align: center;
}

p{
    margin: 0%;
    text-justify: center;
}