<div class="card">
  <img src="/../assets/libro_default.jpg" class="card-img-top" alt="libro" />
  <div class="card-body container-fluid">
    <h5 class="card-title text-center">Cien años de Soledad</h5>
    <div class="grid">
      <div class="row row-cols-2">
        <div class="col">
          <p class="card-text">Gabriel García Marquez</p>
        </div>
        <div class="col">
          <p class="card-text text-center"><b>$Precio</b></p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p class="card-text">Editorial Sudamericana</p>
        </div>
        <div class="col comprar">
          <button class="btn">          
            <img
              src="/../assets/icon_empty.png"
              alt="comprar"
            />
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
