<h2>CONTÁCTENOS</h2>
<div class="d-flex container-fluid flex-wrap flex-row mb-4 mt-3 justify-content-evenly align-items-center">
  <div class="col-12 col-md-4">
    <img
      src="/../assets/contacto.jpg"
      alt="estantes con libros"
      class="img-fluid"
    />
  </div>
  <div class="col-12 col-md-6 p-3">
    <p>
      Nos encontramos ubicados en la ciudad de Riobamba, en la dirección 10 de agosto y Carabobo, sector la estación del tren (Riobamba). Nuestro número de contacto es el 0984451997, o a su vez puedes escribirnos al correo geomundolibreria@gmail.com. Estamos siempre atentos en nuestras redes sociales con el fin de brindarle la mejor atención.
    </p>
    <div class="d-flex row-cols-auto justify-content-end align-items-center redes">
        <a href="https://www.facebook.com/geomundolibreria" target="_blank">
            <img src="/../assets/icon_facebook_color.png" alt="facebook" class="redes">
        </a>      
        <a href="https://www.instagram.com/geomundolibreria/" target="_blank" >
            <img src="/../assets/icon_instagram_color.png" alt="instagram" class="redes">
        </a>
        <a href="https://api.whatsapp.com/message/AL3RDFOYGYDCO1?autoload=1&app_absent=0" target="_blank" >
            <img src="/../assets/icon_whatsapp.png" alt="whatsapp" class="redes">
        </a>
    </div>
  </div> 
</div>

<!-- <div class="d-flex container-fluid fex-row mb-3 mt-3 justify-content-end align-items-"> -->
     
<!-- </div> -->