<h2>CONTÁCTENOS</h2>
<div class="d-flex container-fluid flex-wrap flex-row mb-4 mt-3 justify-content-evenly align-items-center">
  <div class="col-12 col-md-4">
    <img
      src="/../assets/contacto.jpg"
      alt="estantes con libros"
      class="img-fluid"
    />
  </div>
  <div class="col-12 col-md-6 p-3">
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto commodi
      dolorum sequi repellendus repellat ut exercitationem, minus adipisci ex
      aspernatur. Perspiciatis, nemo recusandae voluptas vero possimus debitis vel
      asperiores, dolorum, quas voluptatibus at nobis est magni officia. Corrupti
      praesentium, quo eos ea sequi maiores tempora autem ab facilis tempore
    </p>
    <div class="d-flex row-cols-auto justify-content-end align-items-center redes">
        <a href="https://www.facebook.com/geomundolibreria" target="_blank">
            <img src="/../assets/icon_facebook_color.png" alt="facebook" class="redes">
        </a>      
        <a href="https://www.instagram.com/geomundolibreria/" target="_blank" >
            <img src="/../assets/icon_instagram_color.png" alt="instagram" class="redes">
        </a>
        <a href="wa.me/message/AL3RDFOYGYDCO1" target="_blank" >
            <img src="/../assets/icon_whatsapp.png" alt="whatsapp" class="redes">
        </a>
    </div>
  </div> 
</div>

<!-- <div class="d-flex container-fluid fex-row mb-3 mt-3 justify-content-end align-items-"> -->
     
<!-- </div> -->