header{
    text-align: center;
    align-items: center;  
    background-color: white; 
    margin: 0px;
}

input{
    color: #0065BD;
    border-color: #0065BD;
    border-radius: 50px;
}

img.logo{
    width: 100%;
    height: auto;
}

img.carrito{
    width: auto;
    height: 2rem;
}

div.card-error{
    background-color:var(--on-hover);
    height: 4rem;
    color: var(--textoligth);
    font-weight: bold;
}

img.buscar{
    width: 3rem;
}

p.texto-error{
    margin-bottom: 0%;
    margin-left: 2rem;
    font-size: 1.3rem;
}

div.card-libros{
    background-color:var(--on-hover);
    color: var(--textoligth);
    font-weight: bold;
}