<header class="container-fluid row p-3 sticky-top">
  <!-- ------------------------------------------------------- LOGO -->
  <div class="col-3 p-0 col-md-2 px-sm-2">
    <a routerLink="">    
      <img src="/../assets/icon-Logo.png" alt="logo" class="logo">
    </a>
  </div>
  <!-- ------------------------------------------------------- BUSQUEDA -->
  <div class="col-7 col-md-8 ps-3">
    <div class="row">
      <div class="col">
        <form (ngSubmit)="buscar()" autocomplete="off">
          <input
            routerLink="busqueda"
            routerLinkActive="active"     
            type="text"
            name="termino"
            class="form-control"
            (input)="teclaPresionada()"
            [(ngModel)]="termino"
            placeholder="Busca aquí..."
          />
        </form>
      </div>
    </div>
    <!-- <div *ngIf="this.libros.length > 0" class="card card-libros">
      <div class="card-body content-fluid ">
        <div class=""></div>
          <div *ngFor="let libro of libros" class="d-flex mb-1 justify-content-start align-items-center row">
            <div class="col-1">
              <a href="/libro/{{this.libro.isbn}}">
                <img src="{{libro.imagen.imagenUrl}}" alt="portada" class="img-fluid">
              </a>              
            </div>
            <div class="col-auto">
              <p><strong>{{libro.titulo}} </strong>{{libro.autores[0].nombre}}</p>
            </div>            
        </div>
      </div>
    </div>


    <div *ngIf="this.hayError" class="alert p-2 absolute card-error m-0" role="alert">
      <div class="content-fluid d-flex flex-row flex-wrap justify-content-center align-items-center">
        <img src="../assets/icon_search-book.png" alt="buscar libro" class="buscar">
        <p class="texto-error">No se encontró el libro: {{ termino }}</p> 
      </div>
        
    </div> -->
  </div>

   <!-- ----------------------------------------------- RESULTADOS DE BUSQUEDA -->
  <!-- <div *ngIf="libros.length > 0" class="row">
    <div class="col">

        <table class="table table-hover">
            <thead>
                <tr>
                    <td>#</td>
                    <td>ISBN</td>
                    <td>TITULO</td>
                    <td>STOCK</td>
                    <td>PRECIO</td>
                    <td>GENERO</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let libro of libros; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{libro.isbn}}</td>
                    <td>{{libro.titulo}}</td>
                    <td>{{libro.stock}}</td>
                    <td>{{libro.precioUnitario}}</td>
                    <td *ngFor="let genero of libro.generos">
                        {{genero.nombre}} 
                    </td>
                </tr>
            </tbody>
        </table>
        
    </div>
</div> -->

<!-- ----------------------------------------------------- CARRITO -->

  <div class="col-2 col-md-1 p-0" *ngIf="shop() ;else vacio">
    <a routerLink="compras">
      <img src="/../assets/icon_shop.png" alt="carrito" class="carrito">
    </a>
  </div>

  <ng-template #vacio>
    <div class="col-2 col-md-1 p-0">
      <a routerLink="compras">
        <img src="/../assets/icon_empty.png" alt="carrito" class="carrito">
      </a>
    </div>
  </ng-template>
  
  
  
<!-- ----------------------------------------------------- REDES -->
  <div class="d-flex flex-column col-1 d-none d-md-flex">
    <a href="https://www.facebook.com/libreriageomundo" target="_blank">
      <img src="/../assets/icon_facebook_header.png" alt="facebook" width="25px">
  </a>      
  <a href="https://www.instagram.com/geomundolibreria/" target="_blank">
      <img src="/../assets/icon_instagram_header.png" alt="instagram" width="25px" class="mt-2">
  </a> 
  </div>
</header>
